@charset "UTF-8";
.downwrap {
	list-style : none;
	text-decoration: none;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	font-family: 'Noto Sans KR', sans-serif;
    display:flex;
    justify-content: center;
    margin-top : 200px;
    border-top : 2px solid rgb(160, 148, 148);
}

.downfooter{
    width:350px;
}

.downrogo{
    margin-left:1000px;
}

.downrogo h1{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size : 30px;
}

