.Upwrap{
	list-style : none;
	text-decoration: none;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	font-family: 'Noto Sans KR', sans-serif;
	display:flex;
	width : 100%;
	height : 70px;
	margin:0 auto;
	justify-content: center;
	line-height:70px;
	background:#d5e8ff;
	box-shadow: 0 0 10px 0 rgb(0 0 0 / 35%);
}

a:link {
	text-decoration: none;
}

input:focus{
	outline:none;
}

.Upimg h1{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size : 30px;
}

.Upspan span{
	margin-left : 80px;
	cursor:pointer;
	font-size : 22px;
	font-weight:bold;
	color:#0068c1;
}

.Upserchbar input{
	margin-right : 50px;
	height:26px;
}

.Upicon{
	text-align:;
}

.Updropdown{
	position : relative;
	display : inline-block;
	margin-left:20px;
	width: 150px;
}
  
  .Updropbtn{
	cursor : pointer;
}
  .Updropdown-content{
	display : none;
	position : absolute;
	z-index : 1; /*다른 요소들보다 앞에 배치*/
	font-weight: 400;
	background-color: #f9f9f9;
	min-width : 200px;
	box-shadow: 0px 30px 30px -5px rgb(0 0 0 / 30%);
}
  
  .Updropdown-content a{
	display : block;
	text-decoration : none;
	color : rgb(37, 37, 37);
	font-size: 12px;
	line-height : -30px;
	padding-left: 10px;
}
  
  .Updropdown-content a:hover{
	background-color : #ececec
}
  
  .Updropdown:hover .Updropdown-content {
	display: block;
}

