<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.java.notice.dao.mapper.NoticeMapper"> 
    	<insert id="questionInsert" parameterType="com.java.notice.dto.QuestionDto">
			INSERT INTO question VALUES(Q_NUM_SEQ.nextval,
			#{m_num ,jdbcType=NUMERIC},
			#{q_title ,jdbcType=VARCHAR},
			#{q_content ,jdbcType=VARCHAR},
			#{q_viewcount ,jdbcType=NUMERIC},
			sysdate,
			#{q_category ,jdbcType=VARCHAR})
		</insert>
		
		
		
		
		<select id="selectQuestion" parameterType="java.util.HashMap" resultType="com.java.notice.dto.QuestionDto">
			<![CDATA[
			
				SELECT * FROM
					(SELECT q_num, m_num, q_title, q_content, q_viewcount, q_time, q_category, ROWNUM rnum FROM question WHERE m_num=#{m_num} ORDER BY q_num DESC)
				WHERE rnum>=#{startRow} AND rnum<=#{endRow}
				
			]]>
		</select>
		
		<select id="selectQuestionCount" parameterType="int" resultType="int">
			<![CDATA[
				SELECT COUNT(*) FROM question WHERE m_num = #{m_num}
			]]>
		</select>
		
		
		
				
    </mapper>