* {
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	color: #000;
	font-family: 'Noto Sans KR', sans-serif;
}

.menuText {
	
}

.menuText h1 {
	font-weight: bold;
	font-size: 27px;
	color: #073763;
}

.menuText h3 {
	font-size: 15px;
	color: #073763;
}

.serchbar {
	display: flex;
	margin-top: 100px;
	margin-left: 150px;
}

.serchbar h3 {
	margin-top: 3px;
	color: #073763;
	font-size: 18px;
}

.serchbox {
	width: 400px;
	height: 27px;
	margin-left: 10px;
	border-radius: 10px;
}

.resultTextbox {
	margin-top: 30px;
	margin-left: 20px;
}

.resultTextbox h3 {
	font-size: 17px;
}

.resultTextpage {
	display: flex;
	margin-top: 30px;
	margin-left: 100px;
}

.resultTextpage h3 {
	font-size: 14px;
}