<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.manager.dao.mapper.ManagerMapper">
	<!-- 카테고리 추가 -->
	<insert id="categoryInsert" parameterType="com.java.category.dto.CategoryDto">
		INSERT INTO category
		VALUES(C_CATEGORY_ID_SEQ.nextval,
				#{c_category_name ,jdbcType=VARCHAR})
	</insert>
	
	<select id="categoryId" resultType="int">
		SELECT NVL(MAX(c_category_id),0) FROM category
	</select>

	<select id="categoryList" resultType="com.java.category.dto.CategoryDto">
		SELECT * FROM category
	</select>
	
	<delete id="categoryDelete" parameterType="String">
		DELETE FROM category
		WHERE c_category_id=#{categoryId}
	</delete>

</mapper>   