@charset "UTF-8";

* {
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	font-family: 'Noto Sans KR', sans-serif;
}

.wrap {
	margin-left: 100px;
	display: flex;
}

.img_box {
	width: 120px;
	height: 180px;
	border: 1px solid red;
	margin-bottom: 10px;
}
.image_container  img{
	width: 120px;
	height: 180px;
}

.box {
	margin-left: -100px;
}

.title2 {
	margin-bottom: 10px;
	margin-left: 30px;
}

.content {
	margin-left: 30px;
}

.categoryAdd {
	border: 1px solid gray;
	margin-bottom: 10px;
	margin-left: 30px;
}

.submit {
	margin-top: 50px;
	margin-left: 597px;
}