@charset "UTF-8";

* {
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	font-family: 'Noto Sans KR', sans-serif;
}

.wrap {
	margin: auto;
	margin-top: 100px;
	float: center;
	width: 1100px;
	height: 700px;
	border: 0px solid black;
}

.img {
	width: 120px;
	height: 450px;
	border: 0px solid salmon;
	float: left;
}

.img_box {
	width: 120px;
	height: 180px;
	border: 1px solid black;
	margin-top: 20px;
}

.img button:hover {
	background-color: #fa6262;
}

.image_container  img {
	width: 120px;
	height: 180px;
}

.box {
	width: 800px;
	height: 700px;
	margin-left: 120px;
	float: left;
	border: 0px solid pink;
}

.title2 {
	margin: auto;
	width: 800px;
	height: 40px;
	float: center;
	padding-top: 10px;
	border: 0px solid black;
}

.title2 textarea {
	width: 800px;
	height: 30px;
	float: center;
	border-radius: 18px;
	background-color: rgb(233, 233, 233);
	padding-left: 10px;
	padding-top: 5px;
	border: 0px solid;
	resize: none;
}

.content {
	margin: auto;
	width: 800px;
	height: 200px;
	float: center;
	border: 0px solid black;
}

.content textarea {
	margin: auto;
	width: 800px;
	height: 200px;
	float: center;
	border-radius: 18px;
	background-color: rgb(233, 233, 233);
	padding-left: 10px;
	padding-top: 10px;
	border: 0px solid;
	resize: none;
}

.categoryAdd {
	border: 0px solid gray;
	margin-top: 3px;
	float: center;
	width: 800px;
	height: 110px;
	
}

.front_card{
	width: 52px;
	height: 77px;
	border: 1px solid #0096FA;
	margin: auto;
	float: left;
	color: #0096FA;
	text-align: center;
	border-radius: 10px;
	background-color: #0096FA;
}

.front_card label{
	width:50px;
	height: 50px;
	margin: auto;
	font-size: 14px;
	border: 0px solid black;
	color:white;
}

.front_card input{
	width:50px;
	margin: auto;
	display: inline-block;
}

.uploadButton {
	width: 120px;
	height: 50px;
	border: solid;
	border-radius: 18px;
	border-color: #0096FA;
	color: white;
	font-size: 14px;
	font-style: arial;
	background-color: #0096FA;
	float: right;
	margin-right:20px;
}

.blank {
	width: 800px;
	height: 10px;
	float: center;
}

.img font {
	font-size: 28px;
	font-size: 25px;
}

.box font {
	font-size: 28px;
	font-size: 25px;
}