<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.novelhome.dao.mapper.NovelHomeMapper">
	<insert id="novelhomeInsert" parameterType="com.java.novelhome.dto.NovelHomeDto">
		INSERT INTO NOVEL_HOME(n_num,
							n_title,
							n_summary,
							n_image_name,
							n_image_path,
							n_image_size,
							n_pub_date,
							n_report,
							m_num)
							VALUES(N_NUM_SEQ.nextval,
							#{n_title, jdbcType=VARCHAR},
							#{n_summary, jdbcType=VARCHAR},
							#{n_image_name, jdbcType=VARCHAR},
							#{n_image_path, jdbcType=VARCHAR},
							#{n_image_size, jdbcType=NUMERIC},
							sysdate,
							#{n_report,jdbcType=NUMERIC},
							#{m_num})
	</insert>
	
	<select id="novelhomeSelectGetNum" parameterType="int" resultType="int">
		<![CDATA[SELECT n_num
		FROM NOVEL_HOME WHERE m_num=#{m_num} AND ROWNUM=1
		]]>
	</select>
	
	<select id="novelhomeSelect" parameterType="int" resultType="com.java.novelhome.dto.NovelHomeDto">
		SELECT *
		FROM NOVEL_HOME WHERE n_num=#{n_num}
	</select>
</mapper>   		
  	