<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.novelhome.dao.mapper.NovelHomeMapper">
	<resultMap type="com.java.novelpost.dto.NovelPostDto"
		id="novelPostDto">
		<result column="n_num" property="n_num" />
		<result column="N_POST_EPISODE" property="N_POST_EPISODE" />
		<result column="N_POST_TITLE" property="N_POST_TITLE" />
		<result column="N_POST_CONTENT_NAME"
			property="N_POST_CONTENT_NAME" />
		<result column="N_POST_CONTENT_PATH"
			property="N_POST_CONTENT_PATH" />
		<result column="N_POST_CONTENT_SIZE"
			property="N_POST_CONTENT_SIZE" />
		<result column="N_POST_LIKE" property="N_POST_LIKE" />
		<result column="N_POST_DISLIKE" property="N_POST_DISLIKE" />
		<result column="N_POST_VIEWCOUNT" property="N_POST_VIEWCOUNT" />
		<result column="N_POST_TIME" property="N_POST_TIME" />
	</resultMap>
	
	<insert id="novelhomeInsert" parameterType="com.java.novelhome.dto.NovelHomeDto">
		INSERT INTO NOVEL_HOME(n_num,
							n_title,
							n_summary,
							n_image_name,
							n_image_path,
							n_image_size,
							n_pub_date,
							n_report,
							m_num)
							VALUES(N_NUM_SEQ.nextval,
							#{n_title, jdbcType=VARCHAR},
							#{n_summary, jdbcType=VARCHAR},
							#{n_image_name, jdbcType=VARCHAR},
							#{n_image_path, jdbcType=VARCHAR},
							#{n_image_size, jdbcType=NUMERIC},
							sysdate,
							#{n_report,jdbcType=NUMERIC},
							#{m_num})
	</insert>
	
	<select id="novelhomeSelectGetNum" parameterType="int" resultType="int">
		<![CDATA[SELECT n_num
		FROM NOVEL_HOME WHERE m_num=#{m_num} AND ROWNUM=1 ORDER BY n_num DESC
		]]>
	</select>
	
	<select id="novelhomeSelect" parameterType="int" resultType="com.java.novelhome.dto.NovelHomeDto">
		SELECT *
		FROM NOVEL_HOME WHERE n_num=#{n_num}
	</select>
	
	<select id="novelPostCount" resultType="int">
		SELECT COUNT(*) FROM
		NOVEL_POST WHERE N_NUM=#{n_num, jdbcType=NUMERIC}
	</select>

	<select id="novelPostList" parameterType="java.util.HashMap"
		resultMap="novelPostDto">
		<![CDATA[
			SELECT * FROM (SELECT
			ROWNUM AS rnum, a.* FROM
			(SELECT * FROM NOVEL_POST ORDER BY n_num DESC) a) b
			WHERE b.rnum >=#{startRow} AND
			b.rnum <=#{endRow} AND n_num=#{n_num}
		]]>
	</select>

	<select id="novelCount" parameterType="int" resultType="int">
		<![CDATA[
			SELECT count(*) FROM novel_home WHERE m_num=#{m_num}
		]]>
	</select>
	
	<select id="novelListMember" parameterType="java.util.HashMap" resultType="com.java.novelhome.dto.NovelHomeDto">
		<![CDATA[
			SELECT * FROM
			(SELECT ROWNUM rnum, n_num, n_title, n_summary, n_image_name, n_image_path, n_image_size, n_pub_date, n_report, m_num FROM novel_home WHERE m_num=#{m_num} ORDER BY n_num DESC)
			WHERE rnum>=#{startRow} AND rnum<=#{endRow}
		]]>
	</select>

</mapper>   		
  	