<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.novelpost.dao.mapper.NovelPostMapper">

	<insert id="novelPostInsert"
		parameterType="com.java.novelpost.dto.NovelPostDto">
		INSERT INTO NOVEL_POST(n_num,
		N_POST_NUM,
		N_POST_TITLE,
		N_POST_CONTENT,
		N_POST_LIKE,
		N_POST_DISLIKE,
		N_POST_VIEWCOUNT,
		N_POST_TIME)
		VALUES(#{n_num},
		N_POST_NUM_SEQ.nextval,
		#{N_POST_TITLE,
		jdbcType=VARCHAR},
		#{N_POST_CONTENT, jdbcType=VARCHAR},
		#{N_POST_LIKE,
		jdbcType=NUMERIC},
		#{N_POST_DISLIKE, jdbcType=NUMERIC},
		#{N_POST_VIEWCOUNT, jdbcType=NUMERIC},
		sysdate)
	</insert>

	<select id="novelPostNumSelect" resultType="int">
		SELECT N_POST_NUM
		FROM NOVEL_POST
		WHERE n_num=#{n_num}
	</select>

	<update id="novelPostReadCount" parameterType="int">
		UPDATE NOVEL_POST
		SET
		N_POST_VIEWCOUNT=N_POST_VIEWCOUNT+1
		WHERE n_post_num=#{n_post_num}
	</update>


	<select id="novelPostRead" parameterType="int"
		resultType="com.java.novelpost.dto.NovelPostDto">
		SELECT *
		FROM NOVEL_POST
		WHERE n_post_num=#{n_post_num}
	</select>

	<delete id="novelPostDelete" parameterType="int">
		DELETE FROM
		NOVEL_POST WHERE
		n_post_num=#{n_post_num}
	</delete>

	<select id="novelPostSelect" parameterType="int"
		resultType="com.java.novelpost.dto.NovelPostDto">
		SELECT * FROM NOVEL_POST WHERE n_post_num=#{n_post_num}
	</select>

	<update id="novelPostUpdate"
		parameterType="com.java.novelpost.dto.NovelPostDto">
		UPDATE NOVEL_POST SET N_POST_TITLE=#{N_POST_TITLE},
		N_POST_CONTENT=#{N_POST_CONTENT} WHERE n_post_num=#{n_POST_NUM}
	</update>

	<select id="nNumSelect" parameterType="int" resultType="int">
		SELECT
		n_num FROM NOVEL_POST WHERE n_post_num=#{n_post_num}
	</select>

	<select id="mNumSelect" parameterType="int" resultType="int">
		SELECT
		m_num FROM NOVEL_HOME WHERE n_num=#{n_num}
	</select>

	<select id="getCount" resultType="int">
		<![CDATA[SELECT COUNT(*) FROM "COMMENT"
		]]>
	</select>

	<select id="commentList" parameterType="java.util.HashMap"
		resultType="com.java.comment.dto.CommentDto">
		<![CDATA[
		SELECT * FROM (SELECT
						   ROWNUM AS rnum, a.* FROM
							   (SELECT * FROM "COMMENT" ORDER BY n_post_num DESC, comment_num) a) b
		WHERE b.rnum >=#{startRow} AND
			b.rnum <=#{endRow} AND n_post_num=#{n_post_num} ORDER BY comment_num
		]]>
	</select>

	<insert id="novelPostCommentInsert"
		parameterType="com.java.comment.dto.CommentDto">
		INSERT INTO "COMMENT"(comment_num,
		m_num,
		comment_content,
		comment_time,
		n_post_num)
		VALUES(comment_num_SEQ.nextval,
		#{m_num, jdbcType=NUMERIC},
		#{comment_content, jdbcType=VARCHAR},
		sysdate,
		#{n_post_num, jdbcType=NUMERIC})
	</insert>
	
	<delete id="novelPostCommentDelete" parameterType="int">
		DELETE FROM "COMMENT" WHERE comment_num=#{comment_num}
	</delete>
	
</mapper>   		
  	