<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.member.dao.mapper.MemberMapper">
	<!-- 회원가입 -->
	<insert id="memberInsert"
		parameterType="com.java.member.dto.MemberDto">
		INSERT INTO MEMBER
		VALUES(M_NUM_SEQ.nextval,
			#{m_id ,jdbcType=NUMERIC},
			#{m_pw , jdbcType=VARCHAR},
			#{m_email , jdbcType=VARCHAR},
			#{m_email_agree , jdbcType=NUMERIC},
			<if test="m_nickname == null">M_NUM_SEQ.nextval</if><if test="m_nickname !=null">#{m_nickname}</if>,
			#{m_sex ,jdbcType=NUMERIC},
			#{m_homepage_address , jdbcType=VARCHAR},
			#{m_city , jdbcType=VARCHAR},
			sysdate,
			#{m_permission , jdbcType=VARCHAR},
			#{m_photo_name , jdbcType=VARCHAR},
			#{m_photo_path , jdbcType=VARCHAR},
			#{m_photo_size , jdbcType=VARCHAR},
			#{m_info , jdbcType=VARCHAR},
			#{m_birthday, jdbcType=VARCHAR},
			#{m_homepage_public ,jdbcType=NUMERIC},
			#{m_sex_public ,jdbcType=NUMERIC},
			#{m_city_public ,jdbcType=NUMERIC},
			#{m_birthday_public ,jdbcType=NUMERIC},
			#{m_info_public ,jdbcType=NUMERIC},
			#{m_platform , jdbcType=VARCHAR},
			#{m_sns_id , jdbcType=VARCHAR})
	</insert>
	
	<select id="loginCheck" parameterType="java.util.HashMap" resultType="com.java.member.dto.MemberDto">
		SELECT M_NUM,M_PERMISSION,M_PLATFORM,M_NICKNAME FROM member  WHERE M_ID=#{id} AND M_PW=#{pw}
	</select>

	<select id="pmLoginCheck" parameterType="java.util.HashMap" resultType="com.java.member.dto.MemberDto">
		SELECT M_NUM,M_PERMISSION,M_PLATFORM,M_NICKNAME FROM member  WHERE M_PLATFORM=#{platform} AND M_SNS_ID=#{platform_id}
	</select>

	<!-- 회원 수(관리자 빼고) -->
	<select id="memberCount" resultType="int">
		SELECT COUNT(*) FROM member WHERE M_PERMISSION != 'MA'
	</select>

	<!-- 회원 조회(관리자 뺴고) -->
	<select id="memberList" parameterType="java.util.HashMap" resultType="com.java.member.dto.MemberDto" >
     <![CDATA[
		SELECT * FROM (SELECT rownum AS rnum ,a.* FROM (SELECT * FROM MEMBER ORDER BY m_num DESC) a) b WHERE b.rnum >=#{startRow} AND b.rnum<=#{endRow} AND M_PERMISSION != 'MA'
		]]>
	</select>
	
	
	
	
	
	
	
	
	
	<select id="profileSelect" parameterType="String" resultType="com.java.member.dto.MemberDto">
		<![CDATA[
		SELECT * FROM member WHERE M_NICKNAME=#{nickname}
		]]>
	</select>
	
	
	<select id="profileFollower" parameterType="java.util.HashMap" resultType="com.java.member.dto.MemberDto">
		<![CDATA[
		SELECT rnum, member.m_num, member.m_nickname, member.m_photo_name, member.m_photo_path FROM member, 
		(SELECT a.m_num, a.following, a.following_time, ROWNUM rnum FROM (SELECT m_num, following, following_time FROM FOLLOW WHERE following=#{num} ORDER BY following_time DESC) a) b
		WHERE member.m_num=b.m_num AND rnum>=#{startRow} AND rnum<=#{endRow} ORDER BY rnum
		]]>
	</select>
	
	<select id="profileFollowerCount" parameterType="int" resultType="int">
		<![CDATA[
		SELECT NVL(COUNT(*), 0) FROM FOLLOW WHERE FOLLOWING=#{num}
		]]>
	</select>
	
	<select id="profileFollowing" parameterType="java.util.HashMap" resultType="com.java.member.dto.MemberDto">
		<![CDATA[
		SELECT m_nickname, member.m_num, b.following, b.following_time, b.rnum, m_photo_name, m_photo_path
		FROM (SELECT a.*, ROWNUM rnum 
		          FROM (SELECT m_num, following, following_time FROM follow WHERE m_num=#{num} ORDER BY FOLLOWING_TIME DESC) a) b, member
		WHERE member.m_num=following AND b.rnum>=#{startRow} AND b.rnum<=#{endRow}
		ORDER BY rnum ASC
		]]>
	</select>
	
	<select id="profileFollowingCount" parameterType="int" resultType="int">
		<![CDATA[
		SELECT NVL(COUNT(*), 0) FROM FOLLOW WHERE M_NUM=#{num}
		]]>
	</select>

	
	<select id="profileFollowCheck" parameterType="java.util.HashMap" resultType="int">
		<![CDATA[
		SELECT COUNT(*) FROM follow WHERE m_num=#{me} AND following=#{num}
		]]>
	</select>


	<insert id="followInsert" parameterType="java.util.HashMap">
		<![CDATA[
		INSERT INTO follow VALUES(#{numSess},#{num},SYSDATE)
		]]>
	</insert>
	
	
	<delete id="followDelete" parameterType="java.util.HashMap">
		<![CDATA[
		DELETE follow WHERE m_num=#{numSess} AND following=#{num}
		]]>
	</delete>





	
	
</mapper>   		
  	