<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.member.dao.mapper.MemberMapper">
	<!-- resultType="int" -->
	<insert id="memberInsert"
		parameterType="com.java.member.dto.MemberDto">
		INSERT INTO MEMBER (M_NUM,
							M_ID, 
							M_PW, 
							M_EMAIL, 
							M_EMAIL_AGREE,
							M_NICKNAME, 
							M_SEX, 
							M_HOMEPAGE_ADDRESS, 
							M_CITY, 
							M_REGISTER_DATE, 
							M_PERMISSION,
							M_PHOTO_NAME, 
							M_PHOTO_PATH,
							M_PHOTO_SIZE, 
							M_INFO, M_BIRTHDAY, 
							M_HOMEPAGE_PUBLIC, 
							M_SEX_PUBLIC, 
							M_CITY_PUBLIC, 
							M_BIRTHDAY_PUBLIC, 
							M_INFO_PUBLIC, 
							M_PLATFORM,
							M_SNS_TOKEN)
		VALUES(M_NUM_SEQ.nextval,
			#{M_ID ,jdbcType=NUMERIC},
			#{M_PW , jdbcType=VARCHAR},
			#{M_EMAIL , jdbcType=VARCHAR},
			#{M_EMAIL_AGREE , jdbcType=NUMERIC},
			#{M_NICKNAME , jdbcType=VARCHAR},
			#{M_SEX ,jdbcType=NUMERIC},
			#{M_HOMEPAGE_ADDRESS , jdbcType=VARCHAR},
			#{M_CITY , jdbcType=VARCHAR},
			sysdate,
			#{M_PERMISSION , jdbcType=VARCHAR},
			#{M_PHOTO_NAME , jdbcType=VARCHAR},
			#{M_PHOTO_PATH , jdbcType=VARCHAR},
			#{M_PHOTO_SIZE , jdbcType=VARCHAR},
			#{M_INFO , jdbcType=VARCHAR},
			#{M_BIRTHDAY, jdbcType=VARCHAR},
			#{M_HOMEPAGE_PUBLIC ,jdbcType=NUMERIC},
			#{M_SEX_PUBLIC ,jdbcType=NUMERIC},
			#{M_CITY_PUBLIC ,jdbcType=NUMERIC},
			#{M_BIRTHDAY_PUBLIC ,jdbcType=NUMERIC},
			#{M_INFO_PUBLIC ,jdbcType=NUMERIC},
			#{M_PLATFORM , jdbcType=VARCHAR},
			#{M_SNS_TOKEN , jdbcType=VARCHAR})
	</insert>
	
	<select id="loginCheck" parameterType="java.util.HashMap" resultType="String">
		SELECT M_PERMISSION FROM member  WHERE M_ID=#{id} AND M_PW=#{pw}
	</select>
</mapper>   		
  	