<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.member.dao.mapper.MemberMapper">
	<!-- resultType="int" -->
	<insert id="memberInsert"
		parameterType="com.java.member.dto.MemberDto">
		INSERT INTO MEMBER
		VALUES(M_NUM_SEQ.nextval,
			#{m_id ,jdbcType=NUMERIC},
			#{m_pw , jdbcType=VARCHAR},
			#{m_email , jdbcType=VARCHAR},
			#{m_email_agree , jdbcType=NUMERIC},
			#{m_nickname , jdbcType=VARCHAR},
			#{m_sex ,jdbcType=NUMERIC},
			#{m_homepage_address , jdbcType=VARCHAR},
			#{m_city , jdbcType=VARCHAR},
			sysdate,
			#{m_permission , jdbcType=VARCHAR},
			#{m_photo_name , jdbcType=VARCHAR},
			#{m_photo_path , jdbcType=VARCHAR},
			#{m_photo_size , jdbcType=VARCHAR},
			#{m_info , jdbcType=VARCHAR},
			#{m_birthday, jdbcType=VARCHAR},
			#{m_homepage_public ,jdbcType=NUMERIC},
			#{m_sex_public ,jdbcType=NUMERIC},
			#{m_city_public ,jdbcType=NUMERIC},
			#{m_birthday_public ,jdbcType=NUMERIC},
			#{m_info_public ,jdbcType=NUMERIC},
			#{m_platform , jdbcType=VARCHAR},
			#{m_sns_id , jdbcType=VARCHAR})
	</insert>
	
	<select id="loginCheck" parameterType="java.util.HashMap" resultType="com.java.member.dto.MemberDto">
		SELECT M_NUM,M_PERMISSION,M_PLATFORM FROM member  WHERE M_ID=#{id} AND M_PW=#{pw}
	</select>
	
	<select id="profileSelect" parameterType="String" resultType="com.java.member.dto.MemberDto">
		<![CDATA[
		SELECT * FROM member WHERE M_NICKNAME=#{nickname}
		]]>
	</select>

	<select id="memberCount" resultType="int">
		SELECT COUNT(*) FROM member WHERE M_PERMISSION != 'MA'
	</select>
	
	<select id="memberList" parameterType="java.util.HashMap" resultType="com.java.member.dto.MemberDto" >
     <![CDATA[
     	SELECT * FROM (SELECT rownum AS rnum ,a.* FROM (SELECT * FROM MEMBER ORDER BY m_num DESC) a) b WHERE b.rnum >=#{startRow} AND b.rnum<=#{endRow} AND M_PERMISSION != 'MA'
     ]]>
	</select>
</mapper>   		
  	