.header_bar{
    background-color: rgb(255, 255, 255);
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px 0px;
    will-change: transform; color: rgb(0, 0, 0);
    display: block;

}


/* 본문영역 */

.novel_box{
    position: relative;
    height: 100%;
    top: 0px;
    margin: 0px auto;
    overflow-y: scroll;
    padding: 0px 20px;
    will-change: transform;
    letter-spacing: 0px;
    font-size: 18px;
    line-height: 200%;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
}



.no-drag{
    max-width: 900px;
    margin: 0px auto;
    opacity: 1;
    word-break: break-word;
    color: rgb(0, 0, 0);
}


.next_epi_btn_bottom{
    background-color: rgba(155, 155, 155, 0.1);
    border: 1px solid rgba(155, 155, 155, 0.2);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    margin: 30px 0px 100px;
    cursor: pointer;

}


/* 하단 */


.footer_bar{
	/* position: fixed; */
    background-color: rgb(255, 255, 255);
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px; 
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px -1px 4px 0px;
    user-select: none;
    color: rgb(0, 0, 0);
    display: block;
}

.footer_bar td{
    text-align:center;
    font-size:12px;
    width:19%;
}



